@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/business-frontpage.css" rel="stylesheet">
</head>
<body>
 
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">MAERSK SHIPPING</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Maersk Line is the global container division and the largest
                 operating unit of the A.P. Moller – Maersk Group, a Danish business
                 conglomerate. It is the world's largest container shipping company
                 having customers through 374 offices in 116 countries. It employs
                 approximately 7,000 sea farers and approximately 25,000 land-based people. 
                Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. 
                The company was founded in 1928. </p>
           
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Sri Petaling HQ</strong>
                    <br>57000 Jalan 1/149e
                    <br>Sri Petaling, KL , Malaysia
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">"Cloud_tp033047@outlook.com"</a>
                </address>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="~/Content/delivery.png" alt="" height="300" width="300">
                <h2>Fast Delivery</h2>
                <p>we provide fast delivery and will strive to provide the speed that you need</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="~/Content/globe.jpg" alt="" height="150" width="200">
                <h2>Global Shipping</h2>
                <p>we ship to over nearly 116 countries</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="~/Content/tracking.jpg" alt="" height="300" width="300">
                <h2>Secure Tracking</h2>
                <p>we provide secure and powerful shipping through our customer portal</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
   
    </div>
 
</body>
